/* 主要样式，最关键的是position设置为sticky并且top设置成0px */
.sticky {
    position: sticky;
    top: 0px;
    height: 60px;
    width: 100%;
    background-color: lightskyblue;
}

/* 留出一定空白用的样式，方便测试 */
.blank {
    height: 1400px;
}
